* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Caecilia, "Times New Roman", serif;
}
select {
  font-family: Futura, sans-serif;
}
.hidden {
  display: none;
}
#selectionScreen #catRoll {
  width: 100%;
  font-size: x-large;
  padding: 0 0.2em;
  border: none;
  border-bottom: 1px solid black;
}
#selectionScreen #questionRoll li {
  padding: 0.2em 0.4em;
  border: none;
  border-bottom: 1px solid #AAAAAA;
}
