// Globals
*
{
  margin:     0;
  padding:    0;
  box-sizing: border-box;
}

html, body
{
  height:      100%;
  overflow:    hidden;
  font-family: Caecilia, "Times New Roman", serif;

  &.splash
  {
    background: url('../res/splash.png') no-repeat;
  }
}

// Helpers
.hidden
{ display: none; }

.touched
{
  background: black;
  color:      white;
}

// Views
#selectionScreen
{
  position: absolute;
  width:    100%;
  height:   100%;
  overflow: hidden;

  #questionRoll li
  {
    font-size:     small;
    padding:       0.2em 0.4em;
    height:        64px;
    text-overflow: ellipsis;
    overflow:      hidden;
    border:        none;
    border-bottom: 1px solid #AAAAAA;
  }

  toolbar
  {
    display:    block;
    position:   absolute;
    bottom:     0;
    width:      100%;
    background: white;
    font-size:  x-large;
    border-top: 2px solid black;

    btn
    {
      display:    inline-block;
      padding:    .4em .6em;
      margin:     0 .6em;
      text-align: center;
    }
  }
}

#categoryScreen
{
  position:      absolute;
  top:           0;
  width:         100%;
  background:    white;
  border-bottom: 2px solid black;
  box-shadow:    .25em .5em rgba(0, 0, 0, 0.5);
  z-index:       200;

  btn
  {
    display:       block;
    float:         left;
    width:         40%;
    padding:       0.4em;
    margin:        0.4em 28px;
    text-align:    center;
    border:        2px solid black;
    border-radius: 4px;
    font-size:     large;
    font-weight:   bold;
  }

  > div
  {
    font-style: italic;
    text-align: center;
    padding:    1em;
    color:      #AAA;
    clear: both;
  }
}

#questionScreen
{
  position:      absolute;
  top:           0;
  width:         100%;
  background:    white;
  border-bottom: 2px solid black;
  box-shadow:    .25em .5em rgba(0, 0, 0, 0.5);
  z-index:       100;

  question
  {
    display:      block;
    margin:       1em auto;
    padding:      0.5em 0;
    width:        90%;
    border:       double black;
    border-width: 4px 0;
    text-align:   center;
    font-size:    x-large;
  }

  answer
  {
    display:       block;
    margin:        0.5em auto;
    padding:       0.2em 0.4em;
    width:         90%;
    border:        2px solid black;
    border-radius: 4px;
    text-align:    right;
    font-size:     large;
    font-weight:   bold;

    &:before
    {
      float: left;
    }

    &:nth-of-type(1):before
    { content: "A"; }
    &:nth-of-type(2):before
    { content: "B"; }
    &:nth-of-type(3):before
    { content: "C"; }
    &:nth-of-type(4):before
    { content: "D"; }

    &.correct
    {
      background: black;
      color:      white;
    }
  }

  > div
  {
    font-style: italic;
    text-align: center;
    padding:    1em;
    color:      #AAA;
  }
}