// Globals
*
{
    margin:  0;
    padding: 0;

    box-sizing: border-box;
}

html, body
{
    height: 100%;
    overflow: hidden;
    font-family: Caecilia, "Times New Roman", serif;
}

select, btn
{
    font-family: Futura, sans-serif;
}

// Helpers
.hidden { display: none; }

// Views
#selectionScreen
{
    position: absolute;
    width:    100%;
    height:   100%;
    overflow: hidden;

    #catRoll
    {
        width: 100%;
        font-size:   x-large;
        font-weight: bold;

        padding: 0 0.2em;
        border: none;
        border-bottom: 1px solid black;
    }

    #questionRoll li
    {
        font-size: small;
        padding: 0.2em 0.4em;
        height: 64px;
        text-overflow: ellipsis;
        overflow: hidden;

        border:        none;
        border-bottom: 1px solid #AAAAAA;
    }

    > btn
    {
        position:    absolute;
        bottom:      0;
        display:     block;
        width:       50%;
        padding:     .4em .2em;
        text-align:  center;
        background:  white;
        font-size:   x-large;
        font-weight: bold;
        border-top:  2px solid black;

        &.touched
        {
            background: black;
            color: white;
        }

        &#btnNextPage
        {
            left: 50%;
            border-left: 2px solid black;
        }
    }
}

#questionScreen
{
    position: absolute;
    top:      0;
    background: white;
    border-bottom: 2px solid black;
    box-shadow: .25em .5em rgba(0,0,0,0.5);

    question
    {
        display: block;
        margin:  1em auto;
        padding: 0.5em 0;
        width:   90%;

        border: double black;
        border-width: 4px 0;
        text-align: center;
        font-size:  x-large;
    }

    answer
    {
        display: block;
        margin:  0.5em auto;
        padding: 0.2em 0.4em;
        width:   90%;

        border: 2px solid black;
        border-radius: 4px;
        text-align:  right;
        font-size:   large;
        font-weight: bold;

        &:before
        {
            float: left;
        }

        &:nth-of-type(1):before { content: "A"; }
        &:nth-of-type(2):before { content: "B"; }
        &:nth-of-type(3):before { content: "C"; }
        &:nth-of-type(4):before { content: "D"; }

        &.correct
        {
            background: black;
            color:      white;
        }
    }

    > div
    {
        font-style: italic;
        text-align: center;
        padding: 1em;
        color: #AAA;
    }
}